<h1>
  Register Page
</h1>

<!-- Register Form -->

<h4>Register Form Data:</h4>
<p>{{ registerForm.value | json }}</p>

<form [formGroup]="registerForm" (submit)="submitRegisterForm()">

  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="first_name" />
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Last Name" formControlName="last_name" />
  </mat-form-field>

  <!-- Age number(18-99) -->
  <mat-form-field>
    <input type="number" matInput placeholder="Age" formControlName="age" />
  </mat-form-field>

  <!-- Phones [] -->
  <div formArrayName="phones">

    <div *ngFor="let phone of phoneArray.controls; let i = index" [formGroupName]="i">
      <!-- Phone is a Group with Prefix & Number that is identified by index -->
      <h3>Phone - {{i+1}}</h3>
      <mat-form-field>
        <input type="number" placeholder="Prefix" formControlName="prefix"/>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Number" formControlName="number"/>
      </mat-form-field>
      <!-- Remove a Phone from the Array by it's index -->
      <button mat-raised-button color="warn" (click)="removePhone(i)">Remove</button>
    </div>
    <!-- Add a Phone to the Array -->
    <button mat-raised-button color="primary" (click)="addPhone()">New Phone</button>
  </div>

  <button [disabled]="registerForm.invalid" mat-raised-button color="primary" type="submit">
    Register New Account
  </button>

</form>

<button mat-raised-button color="warning" [routerLink]="['/login']">
  Login to my account
</button>

